<div class="text-center values">
	<div class="value-card value-card-color">
		<lfr-drop-zone></lfr-drop-zone>
	</div>

	[#if configuration.topRight]
		<div class="value-card-circle value-card-circle-${configuration.circleSize} value-card-circle-lg-tr"></div>
	[/#if]

	[#if configuration.bottomRight]
		<div class="value-card-circle value-card-circle-${configuration.circleSize} value-card-circle-lg-br"></div>
	[/#if]

	[#if configuration.bottomLeft]
		<div class="value-card-circle value-card-circle-${configuration.circleSize} value-card-circle-lg-bl"></div>
	[/#if]

	[#if configuration.topLeft]
		<div class="value-card-circle value-card-circle-${configuration.circleSize} value-card-circle-lg-tl"></div>
	[/#if]
</div>