.value-card {
	align-items: center;
	background: #F7EBD9;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 148px;
	isolation: isolate;
	justify-content: center;
	overflow: hidden;
	padding: 32px;
	position: relative;
	width: 100%;
}

.value-card-circle {
	background: linear-gradient(227.52deg, #F7EBD9 12.01%, #FBE0B9 85.9%);
	border-radius: 999px;
	box-shadow: 0px -2px 12px rgba(193, 137, 51, 0.2);
	opacity: 50%;
	position: absolute;
}

.value-card-circle-lg {
	height: 142px;
	width: 142px;
}

.value-card-circle-lg-bl {
	bottom: -80px;
	left: -85px;
}


.value-card-circle-lg-br {
	bottom: -80px;
	right: -85px;
}

.value-card-circle-lg-tl {
	left: -100px;
	top: -80px;
}

.value-card-circle-lg-tr {
	right: -60px;
	top: -80px;
}

.value-card-circle-sm {
	height: 95px;
	width: 95px;
}

.value-card-circle-sm-bl {
	bottom: -20px;
	left: -60px;
}

.value-card-circle-sm-br {
	bottom: -20px;
	right: -60px;
}

.value-card-circle-sm-tl {
	bottom: -20px;
	left: -60px;
}

.value-card-circle-sm-tr {
	bottom: -20px;
	right: -60px;
}

.values {
	display: flex;
}