<div class="card card-container p-3 rounded-corners">
	<img class="card-image card-img-top rounded-corners" data-lfr-editable-id="card-image" data-lfr-editable-type="image" src="..." />

	<div class="card-body">
		<div class="category-height mb-3 text-link-sm text-primary text-uppercase" data-lfr-editable-id="category" data-lfr-editable-type="text">
			category
		</div>

		<h3 class="card-title font-weight-bold pb-4 text-truncate" data-lfr-editable-id="card-title" data-lfr-editable-type="text" class="font-weight-bold">Card title</h3>

		<p class="text-truncate" data-lfr-editable-id="summary" data-lfr-editable-type="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>

		<a href="#" class="action-link" data-lfr-editable-id="card-link" data-lfr-editable-type="link">Read more</a>
	</div>
</div>