.analytics-settings-web {
	.c-empty-state-animation {
		max-width: none;
	}

	.compose-table.table-autofit td,
	.compose-table.table-autofit th {
		width: auto;
	}

	.compose-table.table thead tr td {
		width: 40px;
	}

	.empty-state-border {
		border: 1px solid #e7e7ed;
		margin: 20px 0;
	}

	.list-group-item {
		cursor: pointer;
	}

	.list-group-item-disabled {
		.lexicon-icon,
		.list-group-title,
		.list-group-text {
			color: #9e9ea6 !important;
		}
	}

	.loading-absolute {
		bottom: 0;
		left: 0;
		margin: auto !important;
		position: absolute;
		right: 0;
		top: 0;
	}

	.multi-step-indicator-label {
		max-width: none !important;
	}
	.c-empty-state-animation {
		max-width: none;
	}

	.compose-table.table-autofit td,
	.compose-table.table-autofit th {
		width: auto;
	}

	.compose-table.table thead tr td {
		width: 40px;
	}

	.empty-state-border {
		border: 1px solid #e7e7ed;
		margin: 20px 0;
	}

	.list-group-item {
		cursor: pointer;
	}

	.list-group-item-disabled {
		.lexicon-icon,
		.list-group-title,
		.list-group-text {
			color: #9e9ea6 !important;
		}
	}

	.loading-absolute {
		bottom: 0;
		left: 0;
		margin: auto !important;
		position: absolute;
		right: 0;
		top: 0;
	}

	.multi-step-indicator-label {
		max-width: none !important;
	}
	.c-empty-state-animation {
		max-width: none;
	}

	.compose-table.table-autofit td,
	.compose-table.table-autofit th {
		width: auto;
	}

	.compose-table.table thead tr td {
		width: 40px;
	}

	.empty-state-border {
		border: 1px solid #e7e7ed;
		margin: 20px 0;
	}

	.list-group-item {
		cursor: pointer;
	}

	.list-group-item-disabled {
		.lexicon-icon,
		.list-group-title,
		.list-group-text {
			color: #9e9ea6 !important;
		}
	}

	.loading-absolute {
		bottom: 0;
		left: 0;
		margin: auto !important;
		position: absolute;
		right: 0;
		top: 0;
	}

	.multi-step-indicator-label {
		max-width: none !important;
	}
}
