<li class="align-items-center border-top d-flex faq-entry flex-column mb-3 w-100">
	<div class="align-items-center content-area d-flex justify-content-between m-0 py-3 row w-100">
		<p class="col-11 font-weight-bold m-0 text-neutral-10" data-lfr-editable-id="main-text" data-lfr-editable-type="text" id="question">
			Frequently asked question?
		</p>

		<div class="col-1 custom-icon px-0" id="plus-icon">
			[@clay["icon"] symbol="plus"/]
		</div>

		<div class="col-1 custom-icon d-none px-0" id="minus-icon">
			[@clay["icon"] symbol="hr"/]
		</div>
	</div>

	<div class="col-12 collapse content-area text-neutral-8 w-100" data-lfr-editable-id="answer-text" data-lfr-editable-type="rich-text" id="faq-list">
		Answer to the frequently asked question.
	</div>
</li>